.about-container {
  font-family: "ubuntu mono";
  /* background: #b8d7ff; */
  background-color: white;

  margin-top: -10px;
}

.about-body {
  height: 60vh;
  width: 60%;
  margin: auto;
  font-size: 20px;
  padding: 20px;
  letter-spacing: 2px;
  line-height: 35px;
}
