@keyframes fadeInAnimation2 {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@keyframes swinging {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.about-container {
    font-family: "ubuntu mono";
    height: 100%;
    overflow: auto;

}

.about-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 8%;
    margin-left: 5%;

}

.about-main>div {
    margin: 0 4em;
}

/* .about-header {
    height: 100%;
    width: 100%;
}

.about-header>img {
    left: 0;
    top: 0;
    height: 80vh;
    position: absolute;
    transition: ease-in-out;
}

.about-header img {
    transform-origin: 50% 0;
    animation: swinging 1.5s ease-in-out 1;
    animation-direction: alternate;
    position: absolute;
    top: -10px;
} */

.image-txt {
    /* background-color: white; */
    font-size: 35px;
    /* position: absolute; */
    transition: ease-in-out;
    /* position: absolute; */
    /* left: 4.9em; */
    height: 4em;
    width: 6em;
    text-align: center;
    color: black;
    font-weight: 800;
    /* top: 47%; */
    animation: fadeInAnimation2 ease-in-out 3s;
    animation-iteration-count: 1;
}

.about-text {

    font-size: 23px;
    padding: 20px;
    letter-spacing: 0.6px;
    line-height: 2.0em;
    text-align: center;
    background-color: white;
    /* height: 13em; */
    /* color: white; */
    margin: auto;
    font-weight: 800;


}

.about-body {
    display: flex;
    flex-direction: column;
}

.about-cards-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* 
.about-cards-div div {
    margin: 10px;
} */

.about-cards {
    outline: #ffd49c 4px solid;
    background-color: white;
    font-size: 20px;
    margin: 10px 10px 10px 0;
    height: 6em;
    width: 6em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.2s ease-in-out;
}

.rating>i {
    font-size: 15px;
    /* visibility: hidden; */

}

.about-cards:hover {
    outline: none;
    margin-top: -2px;
    background-color: transparent;
    font-weight: 800 !important;

}

.about-cards:hover .rating {

    color: #ffd49c;
    /* visibility: visible; */

}


#home {
    border-radius: 20px;
    font-size: 25px;
    padding: 14px;
    color: #ffd49c;
    margin: 13px;
    bottom: -4px;
    left: 0;
    position: absolute;
    cursor: pointer;
}

#home:hover {
    font-size: 28px;
    /* padding: -2.5px; */

}

#icons-div {
    bottom: 5px;
    right: 0;
    position: absolute;
}

.details-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.details-icons>a {
    color: #ffd49c;
    margin: 13px;
}

.details-icons>a>i {
    border-radius: 20px;
    font-size: 25px;
    padding: 14px;
    /* box-shadow: 6px 6px 2px grey; */
}

#footer-icon:hover {
    color: #9cc7fc;
}

/* .details-icons>a:hover { */
/* color: #ffd49c; */
/* margin: 11px; */
/* } */

@media(max-width:1000px) {
    .about-body {
        /* height: 10em; */
        flex-direction: row;

    }

    .about-cards-div {
        /* margin-top: 0; */
        flex-direction: column;
        width: 30%;
        height: 100%;



    }

    /* .about-cards-div>div {
        margin: 8px 0;
    } */

    .about-text {

        font-size: 17px;
        padding: 16px;
        line-height: 1.6em;
        text-align: center;
        width: 50%;
        outline: 4px solid#ffd49c;
        height: 100%;

    }

    .about-cards:hover {
        /* outline: 4px solid#ffd49c; */

        margin: 10px 10px 10px 0;
        background-color: transparent;
        font-weight: 800 !important;


    }
}

@media(max-width:700px) {
    .about-main {
        margin-top: 10em;
        height: 20em;

    }

    .about-text {

        font-size: 15px;
        padding: 14px;
        line-height: 1.2em;
        text-align: center;
        width: 50%;
        outline: 2px solid#ffd49c;
        height: 100%;

    }

    .about-cards-div {
        /* margin-top: 0; */
        flex-direction: column;
        width: 30%;
        height: 100%;



    }

    .about-cards {
        margin: 10px 10px 10px 0;
        height: 5em;
        width: 5em;
        font-size: 13px;
        outline: 2px solid #ffd49c;
        justify-content: space-between;

    }

    .rating>i {
        font-size: 8px;

    }

    #home {
        font-size: 23px;
        bottom: -10px;
        left: -3px;
    }

    #home :hover {
        font-size: 24px;
        left: -5px;
        bottom: -2px;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .about-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        /* margin-top: 8%; */
        /* margin-left: 5%; */
        margin: auto;

    }

    .about-cards-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* margin-top: 0.6em; */
        margin-top: 0.3em;
    }



    .about-cards {
        outline: #ffd49c 4px solid;
        background-color: white;
        font-size: 15px;
        margin: 10px 10px 10px 0;
        height: 6em;
        width: 6em;
        margin-top: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.2s ease-in-out;
    }

    .about-cards:hover {
        outline: none;
        margin-top: -2px;
        background-color: transparent;
        font-weight: 800 !important;

    }


    .about-body {
        display: flex;
        flex-direction: column;
        /* margin: none; */
    }

    .about-text {

        font-size: 17px;
        padding: 20px;
        letter-spacing: 0.6px;
        text-align: center;
        background-color: white;
        height: 25em;
        width: 100%;
        margin-top: 50%;
        outline: none;
        /* margin: auto; */
        /* margin: none !important; */
        font-weight: 800;

    }

    /* .about-cards-div div {
        margin: 0px;
    } */
}