.resume-container {
  font-family: "ubuntu mono";
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  overflow: auto;

  /* position: absolute; */
  top: 4%;
  height: 75vh;
  width: 100%;
}

.resume-header {
  height: 25%;
}

.resume-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 75%;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  /* padding :15px; */
}

.resume-side-bar {
  background-color: white;
  width: 60%;
  display: flex;
  box-shadow: 10px 7px 5px #c7c3c3;
  position: relative;
  height: 100%;
  margin: 0 15px;
}

.resume-icon-bar {
  width: 20%;
  background-color: #c4c4c4;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#icon-bar-links {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black !important;
  font-size: 23px;
}

.resume-icon-bar > .nav-pills .nav-link.active {
  background-color: transparent !important;
}

.resume-icon-bar a {
  pointer-events: none;
}

/* .resume-icon-bar i {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.resume-list {
  width: 80%;
  padding: 30px 10px 30px 0px;
  display: flex;
}

.resume-list > ul > li > a {
  color: black !important;
}

ul.nav.nav-pills {
  height: 100% !important;
  display: flex;
}

li.nav-item {
  width: 100%;
  height: 20% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
}

li > a.nav-link {
  font-size: 20px;

  font-weight: 800;
}

li > a.nav-link:hover {
  text-shadow: 0px 1px 2px grey;
  color: black !important;
}

.resume-list ul li > .active {
  background-color: #ffd49c !important;
  /* transition: background-color 0.2s ease-in; */
  /* transition: all 1s ease-in; */
  /* background-size: 200% 100%; */
  /* background-position: left right; */
  /* transition: all 0.5s ease-out; */
  border-radius: 0px 30px 30px 0px !important;
  color: black !important;
  font-weight: bold;
}

.resume-list ul li > a:hover {
  background-color: #ffd49c80 !important;
  /* transition: background-color 0.2s ease-in; */
  /* transition: all 1s ease-in; */
  /* background-size: 200% 100%; */
  /* background-position: left right; */
  /* border-image: linear-gradient(to right, #ffd49c, #bebbb6); */
  transition: all 0.5s ease-out;
  border-radius: 0px 30px 30px 0px !important;
  color: black !important;
  font-weight: bold;
}

.resume-content {
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0 15px;
}

.tab-content > .active {
  background-color: white !important;
}

.tab-content {
  height: 100%;
}

.tab-pane {
  height: 100%;
}

.tab-pane > div {
  height: 100%;
}

/* education-section */
.education-section {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
}

.schools {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
}

.schools > li {
  padding: 20px;
  height: 100%;
}

.school-li > p {
  padding-top: 20px;
  color: grey;
}

ul.schools {
  list-style: none;
  /* Remove default bullets */
}

ul.schools li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ffd49c;
  /* Change the color */
  font-weight: 900;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.year-labels {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.year-labels > div {
  /* width: 100%; */
  padding: 20px;
  height: 50%;
}

.year-labels > div > span {
  background: #ffd49c;
  border-radius: 20px;
  padding: 5px;
  font-weight: 700;
}

.school-header {
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-shadow: 3px 2px 2px #ced4da;
}

/* experience-section */
.experience-section {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
}

.works {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.works > li {
  padding: 20px;
  height: 100%;
}

.work-header {
  font-weight: 700;
  font-size: 20px;
  color: black;
  text-shadow: 3px 2px 2px #ced4da;
}

.work-li > p {
  padding-top: 20px;
  color: grey;
}

ul.works {
  list-style: none;
  /* Remove default bullets */
}

ul.works li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ffd49c;
  /* Change the color */
  font-weight: 900;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

/* skills section */

.skills-section {
  margin: auto;
  overflow: scroll;
  padding: 1.8rem;
  /* padding: 20px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.skills {
  /* webkit-column-count: 2; Chrome/Opera, Safari */
  /* -moz-column-count: 2; /* Mozilla Firefox */
  /* column-count: 2; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skills-header {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 8px 5px;
  letter-spacing: 2px;
  font-style: italic;
}

.skills-li {
  /* padding: 5px; */
  padding: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills-list-div {
  padding: 0.4rem;
  /* margin: 0.3rem; */
}
.skills-list-div > span {
  font-weight: 1000;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
.skills-list-div-inner-list {
  display: flex;
  flex-direction: row;
}
.skills-list-div-inner-list > div {
  margin: 0 1rem;
}
.progress {
  width: 10em;
  background-color: rgb(218, 213, 213);
}

.pro {
  width: 110px;
  background-color: #ffd49c;
}
.learning {
  width: 85px;
  background-color: #ffd49c;
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects-header {
  font-size: 26px;
  font-weight: 600;
  margin: 8px 5px;
  letter-spacing: 2px;
}

.projects-section {
  text-align: center;
}

.projects-section > a {
  text-decoration: none;
  color: #b8dbffbf !important;
  font-size: 25px;
  font-weight: 700;
}

.interests-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
}

/* #interests{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */
.interests-header {
  font-weight: 800;
  font-size: 21px;
  color: black;
  text-shadow: 3px 2px 2px #ced4da;
}

div.interests-description {
  margin: 6px 5px;
}

ul.interests {
  list-style: none;
  /* Remove default bullets */
}

ul.interests li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ffd49c;
  /* Change the color */
  font-weight: 900;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

li.interests-li {
  margin: 20px 5px;
}

.interests-description {
  padding: 5px 0px;
  color: grey;
}

/* #cpp-li{
  display: flex;
  flex-direction: column;

} */
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .resume-body {
    width: 100%;
    margin-bottom: 1.7em;
  }

  .resume-side-bar {
    width: 15%;
    box-shadow: none;
  }

  .resume-icon-bar {
    width: 100%;
    position: relative;
  }

  .resume-icon-bar a {
    pointer-events: auto !important;
  }

  .resume-icon-bar > i {
    font-size: 1.5em;
  }

  .resume-list {
    visibility: hidden;
    display: none;
    width: 0;
  }

  #icon-bar-links:hover {
    font-size: 26px;
  }

  #icon-bar-links.active {
    font-size: 26px;
  }

  .year-labels > div {
    font-size: 12px;
  }

  .school-header {
    font-size: 17.5px;
    font-weight: 700;
  }
  .school-li {
    margin-bottom: 1rem;
  }
  .work-header {
    font-size: 17.5px;
    font-weight: 700;
  }
  .skills {
    padding-left: 0;
  }
  .skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-list {
    height: 100%;
  }
  .skills-list-div-inner-list {
    flex-direction: column;
  }

  #home {
    font-size: 25px;
    bottom: -8px;
    left: -18px;
  }
}

/* @media(orientation:landscape) {
  .year-labels>div {
    font-size: 12px;
  }

  .school-header {
    font-size: 17.5px;
    font-weight: 700;
  }

  .work-header {
    font-size: 17.5px;
    font-weight: 700;
  }


  .tab-pane>div {
    height: 100%;
    overflow-y: scroll;
  }

  .schools>li {
    padding: 20px;
    height: 50%;
    margin-bottom: 5em;
  }

  .year-labels {
    height: 188%;
    display: flex;
    flex-direction: column;
  } */

/* ul.nav.nav-pills.nav-item{
    font-size: 1.5em;
  } */

/* } */
