.header {
  /* background-color: #C0FFF4; */
  /* background-color: #9CC7FF; */

  background: rgb(156, 199, 255);
  background: linear-gradient(
    90deg,
    rgba(156, 199, 255, 1) 19%,
    rgba(204, 222, 249, 1) 55%,
    rgba(225, 234, 249, 1) 96%
  );
}
.navbar-brand {
  font-family: "ubuntu Mono";
  color: black !important;
  padding-left: 70px;
  padding-top: 20px;
  font-weight: 700;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
  /* text-shadow: 5px 6px 1px grey; */
}
.navbar-brand {
  font-size: 40px;
}

.navbar-nav {
  font-family: "ubuntu Mono";
  font-size: 20px;
  position: absolute;
  right: 0;
  padding-right: 70px;
  padding-top: 20px;
}

.navbar-nav li {
  padding: 10px;
}
.nav-item a {
  color: black;
}
/* .nav-link .active{
  border-bottom: 1px black !important;
} */
