.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 79%;
  bottom: 0;
}

/* @media(max-width:940px) {
  .footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 79vh;
  }
} */

.footer-parent {
  width: 100%;
  height: 100%;
  /* background-image: url("../../assets/Home/shape-bg.png") center no-repeat; */

  /* max-width: 1920px; */
}

.footer-parent img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .footer-parent img {
    width: 130%;
    height: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .footer-container {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /* z-index: 99; */
    position: fixed;
  }
}

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

  .footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 79vh;
  }
} */
