.home-container {
  display: flex;
  height: 98vh !important;
  flex-direction: column;
  justify-content: space-between;
  background-color: #9cc7ff;
  /* background: rgb(156,199,255); */
  /* background: rgb(156,199,255);
background: linear-gradient(90deg, rgba(156,199,255,1) 19%, rgba(204,222,249,1) 55%, rgba(225,234,249,1) 96%); */

  overflow: hidden;
}
