.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    /* background-color: #C0FFF4; */
    /* background-color: #9CC7FF; */
    background: rgb(156,199,255);
background: linear-gradient(90deg, rgba(156,199,255,1) 19%, rgba(204,222,249,1) 55%, rgba(225,234,249,1) 96%);
    height: 50vh;
    overflow: hidden;
}
