.contact-container {
    font-family: "ubuntu mono";
  /* background-color: blue; */
  height: 70vh;
  width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-body {
  width: 80%;
  height: 70vh;
  margin: auto;
  display: flex;
}
.contact-form {
  width: 50%;
  padding: 20px;
  height: 70vh;
}
.contact-space {
  width: 50%;

  padding: 20px;
  /* background: pink; */
}
