.contact-container {
  font-family: "ubuntu mono";
  height: 100%;
  width: 100%;
  overflow: auto;

  position: relative;
}

.contact-body {
  width: 80%;
  /* height: 68%; */
  height: 76%;
  margin: auto;
  display: flex;
}

.contact-body>div {
  margin-top: 7%;
  height: 70vh;
}

.contact-form-div {
  position: relative;
  width: 45%;
}

#notification {
  margin-bottom: 3%;
  height: 9%;
}

#contact-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

#contact-form>div {
  width: 100%;
}

/* input styles */
.form-label {
  position: absolute;
  transform: translateY(-2em) !important;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  padding-left: 5px;
  transition: 0.1s ease-in;
  /* color: rgb(250 212 156); 
   */
  color: #ffd49c;
}

#contact-form>div>input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(200, 200, 200, 0.3) !important;
  outline: #ffd49c !important;
  background-color: white;
}

#contact-form>div>input:focus {
  outline: #ffd49c !important;
  border: none !important;
  background-color: white;
}

#contact-form>div>input:focus~.form-label,
#contact-form>div>input:not(:placeholder-shown)+.form-label {
  transform: translateY(-4em) !important;
  transition: 0.1s ease-out;
  color: black;
  font-size: 20px;
  font-weight: 800;
}

#contact-form>div>input::-webkit-input-placeholder {
  color: transparent;
}


#contact-form>div>textarea {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(200, 200, 200, 0.3) !important;
  outline: none;
  background-color: white;
}

#contact-form>div>textarea:focus {
  outline: none !important;
  border: none !important;
  background-color: white;
}

#contact-form>div>textarea:focus~.form-label-t,
#contact-form>div>textarea:not(:placeholder-shown)+.form-label-t {
  transform: translateY(-7em) !important;
  transition: 0.1s ease-out;
  color: black;
  font-size: 20px;
  font-weight: 800;
}

#contact-form>div>textarea::-webkit-input-placeholder {
  color: transparent;
}

.form-label-t {
  position: absolute;
  transform: translateY(-4em) !important;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  padding-left: 5px;
  /* color: rgb(250 212 156); */
  color: #ffd49c;
  transition: 0.1s ease-in;
}

#div-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#div-btn>button.send-btn {
  color: #ffd49c;
  width: 50%;
  background-color: white;
  font-size: 15px;
  border: 2px dotted #ffd49c;
  box-shadow: 5px 6px 1px rgb(190, 189, 189);
  font-weight: 700 !important;
}

#div-btn>button.send-btn:hover {
  font-size: 17.5px;
  margin: -2px 0;
  font-weight: 700;
  /* font-size: 16px; */
  color: #9cc7ff;
  border: 2px dotted #9cc7ff;
}

.contact-space-div {
  /* display: grid;
  justify-content: center;
  align-items: center; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  width: 40%;
  /* padding: 20px; */
  color: white;
  text-align: left;
}

.connect-header {
  font-size: 60px;
  font-weight: 800;
  color: black;
  text-align: right;

}

.space-div-icons {
  margin: 10px;
  text-align: right;
  margin-right: 0;
}

.space-div-icons>span {
  margin: 10px;
  font-size: 20px;
}

.space-div-icons>i {
  font-size: 20px;
  color: #ffd49c;
}

/* .contact-space-div #row1 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 2fr;
}
.contact-space-div #row2 {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 5fr;
}
.contact-space-div #row3 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3fr 2fr;
} */

/* .contact-space-div img {
  width: 200px;
} */


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {


  .contact-body {
    width: 100%;
    /* margin-top: 23%; */
    flex-direction: column;
    overflow: scroll;
  }

  #notification {
    height: 9%;
    font-size: 15px;
    margin-bottom: 4%;
    margin-top: 2%;
    line-height: 14px;
  }

  .contact-body>div {
    margin-top: 23%;

  }

  .contact-form-div {
    width: 90%;
    margin: auto;

  }

  .contact-space-div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* text-align: center; */

  }

  #contact-form {
    height: 50vh;
    /* margin-top: 4%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;
  }

  #home {
    font-size: 25px;
    bottom: -8px;
    left: -18px;
  }

}

/* @media(orientation:landscape) {
  .contact-body>div {
    margin-top: 4%;
    height: 85vh;
  }

  #contact-form>div>input:focus~.form-label,
  #contact-form>div>input:not(:placeholder-shown)+.form-label {
    transform: translateY(-3.8em) !important;
    transition: 0.1s ease-out;
    color: black;
    font-size: 17px;
    font-weight: 800;
  }

  #contact-form>div>textarea:focus~.form-label-t,
  #contact-form>div>textarea:not(:placeholder-shown)+.form-label-t {
    transform: translateY(-7.1em) !important;
    transition: 0.1s ease-out;
    color: black;
    font-size: 17px;
    font-weight: 800;
  }


  .connect-header {
    font-size: 48px
  }

  .space-div-icons>span {

    font-size: 16px;
  }
} */