@keyframes fadeInAnimationSide {
  0% {
    opacity: 0.3;
    right: -100px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes fadeInAnimationTop {
  0% {
    opacity: 0.3;
    top: -100px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.side-nav-container {
  position: absolute;
  width: 8%;
  right: 0;
  top: 14%;
  height: 60%;
  background: #c4c4c4a6;
  animation: fadeInAnimationSide ease-in-out 1.4s;
  animation-iteration-count: 1;
  /* animation-fill-mode: forwards; */
}

.side-nav-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* .side-nav-body>div {
   
} */

.side-nav-component {
  background-color: white;
  padding: 10%;
  border-radius: 20px;
  /* height: 60px;
    width: 60px;
    margin: 10px 0; */
  height: 14%;
  width: 55%;
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 2px grey;
}

.side-nav-component:hover {
  /* height: 62px;
    width: 62px;
    margin: 9% 0 !important; */
  height: 15%;
  width: 55%;
  margin: 0.86em 0 !important;
}

.side-nav-component > i {
  font-size: 2em;
}

.side-nav-component .tooltiptext {
  display: none;
  width: 100px;
  background-color: white;
  color: #ffd49c;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  right: 7.5em;
  /* z-index: 1; */
}

.side-nav-component:hover .tooltiptext {
  display: block;
}

.active-nav {
  /* outline: 3px solid orange; */
  background-color: orange;
}

@media (max-width: 820px) {
  .side-nav-component > i {
    font-size: 1.3em;
  }
}

@media (max-width: 1046px) {
  .side-nav-component .tooltiptext {
    right: 5em;
  }
}

@media (max-width: 750px) {
  .side-nav-component .tooltiptext {
    padding: 2px 0;
    font-size: 15px;
    width: 80px;
    right: 4em;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .side-nav-container {
    position: absolute;
    width: 100%;
    /* right: 14%; */
    /* left: 14%; */
    top: 0%;
    height: 9%;
    animation: fadeInAnimationTop ease-in-out 1.4s;
    animation-iteration-count: 1;
  }

  .side-nav-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .side-nav-component {
    background-color: white;
    padding: 6%;
    border-radius: 20px;
    height: 10%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 2px grey;
  }

  .side-nav-component:hover {
    height: 12%;
    width: 12%;
    margin: 7.5% 0;
    font-size: 1.2em;
  }

  .side-nav-component .tooltiptext {
    display: none;
    width: 70px;
    background-color: white;
    color: #ffd49c;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    top: 5.7em;
    right: auto;
    /* z-index: 1; */
  }

  .side-nav-component:hover .tooltiptext {
    display: block;
  }
}

/* @media (orientation:landscape) {
    .side-nav-component>i {
        font-size: 1.4em;
    }
} */
